<!Doctype Html>
<Html>
<Head>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/navbar-static/">

    <!-- Bootstrap core CSS -->
<link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="navbar-top.css" rel="stylesheet">

<!--bootstarp css -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<!-- angular cdn -->

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
<script src="Js/myscript.js"></script>
</Head>
<Body ng-app="myapp" ng-controller="myctrl">

<!-- Navbar Start -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
  <a class="navbar-brand" href="#">COVID-19 Updates</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="index.html">Corona Stats <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="symptoms.html">Symptoms</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="prevention.html">Prevention</a>
      </li>
    </ul>
  </div>
</nav>
<!-- Navbar End -->

<div class="jumbotron">
    <center>
    <img src="Img/covid.jpg" width="120px" alt="">
    </center>
    <h3 class="text-center mt-2">{{title}}</h3>
    <hr>
    <p class="mt-4">Coronavirus disease (COVID-19) is an infectious disease caused by a newly discovered coronavirus.
Most people who fall sick with COVID-19 will experience mild to moderate symptoms and recover without special treatment.</p>

<!-- World Data-->
<div class="row text-center">
<div class="col-md-4">
<div class="card bg-warning text-white">
<div class="card-body">
<h3>Confirmed Cases</h3>
<h3>{{all_data.confirmed.value}}</h3>
</div>
</div>
</div>
<div class="col-md-4">
<div class="card bg-success text-white">
<div class="card-body">
<h3>Recovered Cases</h3>
<h3>{{all_data.recovered.value}}</h3>
</div>
</div>
</div>
<div class="col-md-4">
<div class="card bg-danger text-white">
<div class="card-body">
<h3>Death Cases</h3>
<h3>{{all_data.deaths.value}}</h3>
</div>
</div>
</div>
</div>

<!--World Data End -->
<hr>

<input class="form-control mt-4" type="text" ng-model="c" placeholder="Enter Country" ng-change="changevalue()">

<!-- Country Data -->
<div class="row text-center mt-4" ng-if="c_data">
<div class="col-lg-4">
<div class="card">
<div class="card-body">
    
<div class="container-fluid">
<h3 class="text-center py3">COVID-19 in <span class="text-lowercase">{{c}}</span></h3>
<div class="row text-center mt-4">
<div class="col-md-4">
<div class="card bg-warning text-white">
<div class="card-body">
<h3>Confirmed Cases</h3>
<h3>{{c_data.confirmed.value}}</h3>
</div>
</div>
</div>
<div class="col-md-4">
<div class="card bg-success text-white">
<div class="card-body">
<h3>Recovered Cases</h3>
<h3>{{c_data.recovered.value}}</h3>
</div>
</div>
</div>
<div class="col-md-4">
<div class="card bg-danger text-white">
<div class="card-body">
<h3>Death Cases</h3>
<h3>{{c_data.deaths.value}}</h3>
</div>
</div>
</div>

</div>
</div>

<!-- Country Data End -->

</div>
</div>
</div>
</div>

<hr>

<!-- news -->

<div class="row text-center mt-4">
<div class="col-lg-4">
<div class="card">
<div class="card-body">
    
<div class="container-fluid ">
    <h3 class="text-center">News</h3>
<div class="row text-center mt-4">

<div class="col-md py3">
<div class="card">
<img class="card-img-top rounded" src={{news.articles[1].urlToImage}} id="i1" onerror="this.src = 'Img/newsthumb.jpg';">
<div class="card-body">
    <a href={{news.articles[1].url}}>
    <h6>{{news.articles[1].title}}</h6>
    </a>
</div>
</div>
</div>

<div class="col-md py3">
<div class="card">
<img class="card-img-top rounded" src={{news.articles[6].urlToImage}} id="i2" onerror="this.src = 'Img/newsthumb.jpg';">
<div class="card-body">
    <a href={{news.articles[6].url}}>
    <h6>{{news.articles[6].title}}</h6>
    </a>
</div>
</div>
</div>

<div class="col-md py3">
<div class="card">
<img class="card-img-top rounded" src={{news.articles[7].urlToImage}} id="i3" onerror="this.src = 'Img/newsthumb.jpg';">
<div class="card-body">
    <a href={{news.articles[7].url}}>
    <h6>{{news.articles[7].title}}</h6>
    </a>
</div>
</div>
</div>

<div class="col-md py3">
<div class="card">
<img class="card-img-top rounded" src={{news.articles[8].urlToImage}} id="i4" onerror="this.src = 'Img/newsthumb.jpg';">
<div class="card-body">
    <a href={{news.articles[8].url}}>
    <h6>{{news.articles[8].title}}</h6>
    </a>
</div>
</div>
</div>

<div class="col-md py3">
<div class="card">
<img class="card-img-top rounded" src={{news.articles[9].urlToImage}} id="i5" onerror="this.src = 'Img/newsthumb.jpg';">
<div class="card-body">
    <a href={{news.articles[9].url}}>
    <h6 class= "card-text">{{news.articles[9].title}}</h6>
    </a>
</div>
</div>
</div>

</div>
</div>

</div>
</div>
</div>
</div>

<!--end news-->
<hr>
</div>
</Body>
</Html>